*{
    font-family: "Kode Mono";
}

*::selection{
    background-color: var(--accent-color);
    color: #ffffff;
}

html, body{
    margin: 0;
    padding: 0;
}

.header-container{
    min-height: 7vh;
    max-height: 10vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.header{
    color: #000000;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-width: 30%;
    flex-grow: 1;
    align-items: center;
    padding-left: 13%;
}
.header-logo{
    color: #FFFFFF;
    font-size: 2em;
    -webkit-text-stroke: 1px #000000;
}
.menu a{
    text-decoration: none;
    flex-grow: 1;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.main-container{
    background-color: #dee2e5;
}

.image-full-size{
    background-image: url("/src/images/la.png");
    background-size: 100%;
    background-position-x: right;
    background-position-y:bottom;
    width: 90%;
    display: flex;
    overflow: hidden;
    min-height: 650px;
    background-size: 60%;
    background-clip: content-box;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-text, .image-text span{
    font-family: "Kode Mono";
    font-style: normal;
    font-weight: bold;
}
.image-text span{
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.image-text.large{
    font-size: 4em;
    line-height: 115%;
    margin: 2%;
}

.first-block{
    width: 100%;

}

.image-text.small{
    
}

.first-block{
    height: 200px;
    
}

.about-block{
    min-height: 50vh;
    background-color: #43AA8B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-card{
    width: 70vw;
    min-width: 500px;
    min-height: 500px;
    height: 50vh;
    background-color: #4DB999;
    
    display: flex;
    flex-direction: column;
}

.buffer{
    height: 10vh;
    background-color: #dee2e5;
}

i{
    color: #FFFFFF;
    font-size: 64px;
    margin: 10px;
}

.about-card h2{
    justify-content: center;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin: 0;
    color: #FFFFFF;
}

.about-card .about-cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    width: 400px;
}

.about-card span{
    color: #FFFFFF;
    font-family: "Amatic SC", sans-serif;
    font-weight: 300;
    font-size: 2em;
}

.visual-tree{
    display: flex;
    
    width: 100%;
    height: 100%;
}

.visual-tree .tree-trunk{
    height: 100%;
}

.visual-tree .tree-trunk div{
    border: 1px solid #FFFFFF;
    border-width: 0 3px;
    height: 90%;
}


/* Features */

.full-w{
    width: 100%;
}

.full-h{
    height: 100%;
}

:root{
    --margin-default: 16px;
    --primary-color: #43AA8B;
    --accent-color: #4DB999;
    --background-color: #dee2e5;
    --text-color: #222425;
}

.m-1{
    margin: var(--margin-default) * 1;
}

.m-2{
    margin: var(--margin-default) * 2;
}

.mx-1{
    margin: 0 var(--margin-default);
}
.mx-2{
    margin: 0 var(--margin-default) * 2 ;
}

.my-1{
    margin: var(--margin-default) 0;
}

.my-2{
    margin: var(--margin-default)*2 0;
}